.lets-talk {
  width: 100%;
  height: 200px;
  background: url('./../img/contact.png') no-repeat;
  background-size: cover;
  text-align: center;
  &__text {
    padding-top: 50px;
    font-size: 20px;
    color: $white;
    line-height: 1.25;
    margin-bottom: 30px;
  }
  &__btn {
    font-size: 16px;
    line-height: 0.75;
    width: 148px;
    height: 40px;
    border: 2px solid $white;
    border-radius: 20px;
    color: $white;
    &:hover {
      border-color: $green;
      transition: ease-in-out 0.1s;
    }
    &:active {
      border-color: $darkGray;
    }
  }
}
