.achievement {
  width: 100%;
  min-width: 1000px;
  height: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
 
  &__container {
    min-width: 1000px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
    &__text {
    text-align: center;
    margin-bottom: 50px;
  }
  &__text-line {
    display: flex;
    justify-content: center;
    padding-top: 5px;
  }
  &__text-item {
    display: block;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 300;
    padding-top: 30px;
    &--color-blue {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 6px;
    margin: 0 7px;
    color: $blue;
    flex-shrink: 0;
    }
  }

  &__wrapper {
   max-width: 1000px;
   min-height: 100%;
   margin: 50px auto;
  //  margin-top: 70px;

  }
  &__first-line {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    // border: 1px solid red;
  }
  
  &__item {
    border: 1px solid $lightGray;
    width: 160px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    &:nth-child(-n+6) {
      border-top: none;
    }
    &:nth-child(1) {
      border-left: none;
    }
    &:nth-child(6) {
      border-right: none;
    }
    &:nth-child(7) {
      border-left: none;
    }
    &:nth-child(12) {
      border-right: none;
    }
    &:nth-child(13) {
      border-bottom: none;
      border-left: none;
    }
    &:nth-child(14) {
      border-bottom: none;
    }
    &:nth-child(15) {
      border-bottom: none;
    }
    &:nth-child(16) {
      border-bottom: none;
    }
    &:nth-child(17) {
      border-bottom: none;
    }
    &:nth-child(18) {
      border-bottom: none;
      border-right: none;
    }
  }
  &__text-wrapper {
    font-size: 16px;
    max-width: 130px;
    text-align: center;
    flex-shrink: 0;
  }
  &__image-wrapper{
    margin-bottom: 25px;
  }
}