body {
  margin: 0;
  padding: 0;
}


.bg {
  background: url("../img/bg.png") center no-repeat;
  background-size: 100%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

#clock {

  font-size: 100px;
  color: rgb(183, 211, 247);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 10px;;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  z-index: 99999;
}